* {
	margin: 0;
	padding: 0;
	font-family: 'Chivo', sans-serif;
}

div {
	border: 1px solid black;
	box-sizing: border-box;
}
/***Header code***/
.wrapper {
	margin: 0 auto;
	width: 100%;
}

.container {
	max-width:1170px;
	margin:0 auto;
}

nav {
	background-color: #B31D57;
}


#logo {
	padding-top:130px;
	padding-bottom:90px;
	background-color: #323232;
	color: #FFFFFF;
	text-align: center;
}

#logo h1 {
	font-size: 3em;
	padding-bottom:10px;
}

#menu {
	height: 100px;
	background-color: #B31D57; 
	text-align:center;
}

#menu li {
	border:none;
}

#menu a:link {
	text-decoration: none;
	color:#FFFFFF;
}

#menu a:visited {
	text-decoration: none;
	color:#FFFFFF;
}

#menu li {
	display:inline-block;
	font-size:0.8em;
	padding:40px;
}
/***section code***/
#main {
	padding-top:200px;
	padding-bottom:150px;
	background: url(pic01.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

#contentCover {
	background: url(contentBackground.png);
}

#content {
	padding-top:100px;
	padding-bottom:100px;
	background: url(contentBackground.png);
}

div#submenu {
	width:350px;
	position:absolute;
}


li {
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 15px;
	border-top: 1px solid #E5E5E5;
}

a:link {
	color:#171717;
}

a:hover {
	color:#171717;
	text-decoration:none;
}

a:visited {
	color:#171717;
}

li#submenuHeader {
	padding-bottom: 30px;
	color: #B31D57;
	font-size:1.6em;
	border:none;
}

.bottomborder {
	border-bottom: 1px solid #E5E5E5;
}

div #paragraph {
	margin-left:400px;
}
#content th {
	text-align: left;
	color: #B31D57;
}

#content h2 {
	color: #B31D57;
	line-height: 20px;
	padding-bottom:40px;
	padding-top:10px;
}

#paragraph span {
	color: #6F6F6F;
	font-size:0.5em;
}

#paragraph p {
	line-height: 30px;
}

#thumbnamilCover {
		background-color: #A80154
}

#thumbnail {
	background-color: #A80154;
	padding-top:100px;
	padding-bottom:100px;
	color: #FFFFFF;
}

#column1,#column2,#column3,#column4 {
	width:282px;
	display:inline-block;
}

#column2,#column3,#column4 {
	margin-left:8.5px;
}


.thumbnailimg {
	width:282px;
}

#thumbnail h3 {
	padding-bottom: 30px;
}

#thumbnail p {
	padding-top:35px;
	padding-bottom: 50px;
	color: rgba(255,255,255,.7);
}

#thumbnail a {
	text-decoration: none;
	padding:15px 60px;
	background-color: #BB005D;
	margin-top:20px;
	color:#FFFFFF;
}
/***footer code***/
#footer {
	padding-top:60px;
	padding-bottom:60px;
	background-color: #1E1B1A;
}

#footerCover {
	background-color: #1E1B1A
}

li#footerMenuHeader1 {
	padding-bottom: 30px;
	color: #FFFFFF;
	font-size:1.2em;
	border:none;
}

.footerMenu1 {
	width:354px;
	display:inline-block;
}

.footerMenu1 li {
	border-top: 1px solid #2D2926;
}

.footerMenu1 a:link {
	color:#B1B1B1;
}
#copyright {
	height: 197px;
}
