body {
	font-family:Helvetica;
	font-size:12px;
	color:#595959;
	margin:0;
	padding:0;
}

.wrapper {
	max-width: 1170px; 
	margin:0 auto;s
}

.container {
	width:1170px;
	margin:0 auto;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*header code*/

nav {
	float:right;
	padding-top:5px;
	padding-bottom:5px;
	font-size:1.2em;
}

nav a {
	text-decoration: none;
	color:#595959;
}

nav a:hover {
	text-decoration: underline;
	color:#595959;
}

#menu li {
	list-style-type: none;
	display: inline-block;
}

#menu img {
	width:15px;
}

#home {
	border-right:1px solid #595959;
	padding-right:20px;
}

#contact {
	padding-left:20px;
}

/*section code*/
#section1 {
	margin-bottom:30px;
}

#aboutMe {
	width:568px;
	background-color: #DFF3EE;
	border:1px solid #C0EDE1;
	text-align: center;
	float:left;
}

#aboutMe img {
	width:60%;
	padding-top:31px;
	padding-bottom:31px;
}

#deskImg {
	width:570px;
	height:330px;
	float:left;
	margin-top:30px;
}

#deskImg img {
	width:100%;
	height:100%;
}

#paragraph {
	width:568px;
	float:right;
	background-color: #C68DCC;
	border: 1px solid #B658C0;
}

#paragraph p {
	padding:193px 100px 192px 100px;
	font-size:1.2em;
	line-height: 29px;
	color:#E9E9E9;
}

#paragraph span {
	font-size: 2.0em;
	font-weight:bold;
}

#section2 {
	background: url(section2Background.png);
	padding-top:150px;
	padding-bottom:150px;
}

#section2 img {
	width:100%;
}

#section2 p{
	font-size: 1.2em;
	line-height: 30px;
}

#project1 {
	width:370px;
	float:left;
}

#project2 {
	width:370px;
	float:left;
	margin-left:30px;
}

#project3 {
	width:370px;
	float:right;
}

/*footer code*/
footer {
	text-align: center;
}

footer p {
	padding-top:10px;
	padding-bottom:10px;
}