/*div {border: 1px solid black;}*/

body {
	margin:0;
	padding:0;
	font-family:Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	color:#FDFDFD;
	font-size:15px;
	background:	linear-gradient(rgba(74,63,58,0.80),rgba(74,63,58,0.80)),
				url("images/mainImage2.jpg") fixed repeat-y;
	background-size: cover;
	box-sizing:border-box;
}

.wrapper {
	width:80%;
	max-width:1170px;
	margin:0 auto;
}

a:link {
	text-decoration: none;
	color:#FDFDFD;
}

a:hover {color:#FDFDFD;}

a:visited {color:#FDFDFD;}


.container {
	width:1170px;
	margin:0 auto;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.right {
	float:right;
}

.left {
	float:left;
}


/**************Header code****************/

#mainHeader {
	background-color:#393939;
	position:fixed;
	left: 0;
    top: 0;
	z-index:1000;
	width:100%;
}

#logo {
	width:120px;
	padding-top:9px;
	padding-bottom:5px;
}

#logo img{
	width:100%;
}

header ul {
	margin:0;
	display:flex;
}

/***For dropdown Effect***/
.dropdownMenu {
  padding: 0;
  margin:0;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #393939;
  webkit-box-shadow: -1px 6px 11px -2px rgba(10,10,10,0.34);
  -moz-box-shadow: -1px 6px 11px -2px rgba(10,10,10,0.34);
  box-shadow: -1px 6px 11px -2px rgba(10,10,10,0.34);
}

ul li {
  position: relative;
}

ul .dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu li {
	display:block;
}
/***For dropdown Effect end***/


nav a {
	display:block;
	padding:20px;
}

nav a:link {
	text-decoration: none;
	color:#FFE8DB;
}

nav li:hover {
	background-color:#5F5F5F; 
}

nav li.active {
	background-color:#5F5F5F; 	
}

nav a:visited {
	color: #FFE8DB;
}

.dropdownMenu a {
	padding:20px 40px 20px 20px;
}

/**************Section Code****************/


/**************Section1****************/
#section1 {
	background:	linear-gradient(to top, #4B403C,transparent 50%),
				linear-gradient(#393939 2%,transparent 60%),
				url("images/mainImage1.jpg");
	background-size: cover;
	margin-top:50px;
	text-align: center;
}

#title {
	font-size: 40px;
	padding:50px 15px 25px;
	border-bottom:3px solid;
	display:inline-block;
}

#largeIcon {
	width:636px;
	margin:0 auto 50px;
}

#largeIcon img {
	width:100%;
}

#downIcon {
	padding-bottom:250px;
}

/**************Section2****************/
#coffeeStoryImg {
	width:45%;
	margin: 10% 10% 10% 0;
	position:relative;
	float:left;
}

#overlay {
	-moz-box-shadow:inset 0 0 600px #000000;
    -webkit-box-shadow:inset 0 0 600px #000000;
    box-shadow:inset 0 0 600px #000000;
    position:absolute;
    width:100%;
    height:100%;
    border: 10px solid #262626;
	box-sizing: border-box;
}

#coffeeStoryImg img {
	width:100%;
}

#coffeeStory {
	width:45%;
	text-align: center;
	padding: 10% 0;
	float:right;
}


/**************Section3****************/
#section3 {
	background-color:#393939;
	text-align:center;
}

h1#formTitle {
	line-height: 1.5;
	margin:0;
	padding:5% 0 5px;	
}

#section3 hr {
	width:160px;
	height:5px;
	background-color:#FDFDFD;
	border:none;
}

#section3 ul {
	padding:0 0 40px 0;
	margin:0;
}

.form fieldset {
	border:none;
}

.form legend {
	margin-bottom:10px;
}

.form,
.field {
	width:100%;
}

.field {
	margin-bottom:30px;
	padding:10px;
	border:none;
	box-shadow:inset 0px 0px 5px 0px #595959;
}

.form textarea {
	height:100px;
	resize:vertical;
}

::-webkit-input-placeholder {
  font-family: Garamond, Arial, Helvetica, sans-serif;
}

::-ms-input-placeholder {
  font-family: Garamond, Arial, Helvetica, sans-serif;
}

::-moz-placeholder {
  font-family: Garamond, Arial, Helvetica, sans-serif;
}

input[type=submit] {
    padding:5px 50px; 
    background:#473C38; 
    border:3px solid #FFF;
    cursor:pointer;
    text-transform: uppercase;
    font-family: Garamond;
    font-weight: bold;
    font-size:25px;
    color:#FFF;
}

ul#openHours li {
	display:block;
	padding: 5px 0;
}

/**************Section3****************/
footer {
	background:#393939;
	text-align:center;
	padding-bottom:50px;
}

footer address {
	font-style: normal;
}

footer p#email{
	margin-bottom:0px;
}
